.navLink {
    margin-right: 15px;
    font-weight: 100;
    font-family: Andale Mono,AndaleMono,monospace; 
}

.headerContainer {
    background-color: #fff!important;
    color: #000!important;
}

.logo {
    height: 80px;
    margin: 8px;
}
