.navLink {
    margin-right: 15px;
    font-weight: 100;
    font-family: Andale Mono,AndaleMono,monospace; 
}

.headerContainer {
    background-color: #fff!important;
    color: #000!important;
}

.logo {
    height: 80px;
    margin: 8px;
}

.footer {
    padding: 16px;
    padding-left: 32px;
    .navigation {
        h5 {
            font-weight: 100;
            font-family: Andale Mono,AndaleMono,monospace;
            padding: 16px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        padding-bottom: 0px;
        h4 {
            font-weight: 100;
            font-family: Andale Mono,AndaleMono,monospace;
        }
    }
}
